html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-containers {
    display: flex;
    width: 100%;
    height: 100vh;
    border: 2px solid black;
}

.sidebar-container{
    flex: 1;
    flex-direction: column;
    border: 2px solid blue;
}

.content-container{
    display: flex;
    flex: 4;
    flex-direction: column;
    border: 2px solid red;
}

.guidebar-container{
    flex: 0.3;
    border: 2px solid green;
}

.window-container{
    display: flex;
    flex: 1.5;
    border: 2px solid purple;
}

.sale-container{
    flex: 1;
    border: 2px solid yellow;
}

.purchase-container{
    flex: 1;
    border: 2px solid pink;
}

.statistic-container{
    flex: 2;
    border: 2px solid orange;
}
